<?xml version="1.0" encoding="UTF-8"?>

<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:noNamespaceSchemaLocation="monitorConfiguration.xsd">

  <graphics>
    <width>1100</width>
    <height>700</height>
    <xPosition>252</xPosition>
    <yPosition>22</yPosition>
    <fileNameList>
      EMU1
      EMU2
      EMU3
      EMU1_manifold
    </fileNameList>
  </graphics>

  <etConnection>
    <fileName>EMU1_manifold</fileName>
    <broadcasting>
      <location>local</location>
      <broadcastAddressList>
        255.255.255.255
      </broadcastAddressList>
      <broadcastPort>11111</broadcastPort>
    </broadcasting>
    <period>1</period>
    <dividerPosition>275</dividerPosition>
    <orientation>horizontal</orientation>
  </etConnection>

</configuration>
